body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


main{
    width: 600px;
    border: blanchedalmond 20px solid;
    border-style: groove groove solid none;
    border-radius: 10%;
    overflow: hidden;
}
h1{
    text-align: center;
}

.saved_display{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.saved_display div{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(167, 143, 112);
}
button{
    font-size: 30px;

}

.bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}



/* CSS */
button{
    background: #5E5DF0;
    border-radius: 999px;
    box-shadow: #5E5DF0 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
}

button:hover{
        box-shadow: #5E5DF0 0 10px 40px 5px;
}

button:active{
    transform: scale(.9);
}
