main{
    width: 600px;
    margin-left: 25%;
    margin-right: 30%;
    border: blanchedalmond 3px solid;
    border-radius: 10%;
    overflow: hidden;
}
h1{
    text-align: center;
}

.saved_display{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
button{
    font-size: 30px;
}

.bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
